bidict==0.23.1
blinker==1.8.2
click==8.1.7
colorama==0.4.6
Flask==3.0.3
Flask-SocketIO==5.3.6
h11==0.14.0
itsdangerous==2.2.0
Jinja2==3.1.4
MarkupSafe==2.1.5
python-engineio==4.9.1
python-socketio==5.11.2
simple-websocket==1.0.0
Werkzeug==3.0.3
wsproto==1.2.0
MarkupSafe==2.1.5
multidict==6.0.5
pyftdi==0.55.4
pynmea2==1.19.0
pyserial==3.5
python-engineio==4.9.1
python-socketio==5.11.2
pyusb==1.2.1
rpi-ws281x==5.0.0
RPi.GPIO==0.7.1
simple-websocket==1.0.0
six==1.16.0
smbus2==0.4.3
sparkfun-pi-servo-hat==0.9.0
sparkfun-top-phat-button==0.0.2
sparkfun-ublox-gps==1.1.5
spidev==3.6
sysv-ipc==1.1.0
websocket==0.2.1
websocket-client==1.8.0
websockets==12.0
Werkzeug==3.0.3
wsproto==1.2.0
yarl==1.9.4
zope.event==5.0
zope.interface==6.4.post2
