{% extends "base.html" %}
{% block title %}RTK-GUI{% endblock %}

{% block content %}
{% if current_user.is_authenticated %}

{% else %}
    <p style="text-align: center;">You need to <a href="{{ url_for('login') }}">login</a> to access Dashboard</p>
{% endif %}
<div class="container">
    <h1>About</h1>

    <div class="content">
    <p>ນີ້ແມ່ນເວັບໄຊຕິດຕາມຕຳແໜ່ງຂອງຫຸ່ນຍົນປູກແກ່ພືດອັດຕະໂນມັດທີ່ນຳໃຊ້ເທັກນິກ RTK ຮ່ວມກັນລະບົບດາວທຽມນຳທາງທົ່ວໂລກ GNSS, ເວັບໄຊນີ້ຖືເປັນສ່ວນໜຶ່ງຂອງການຄົ້ນຄວ້າກ່ຽວກັບການສ້າງຫຸ່ນຍົນປູກແກ່ນພືດອັດຕະໂນມັດເຊິ່ງເປັນຜົນງານນັກສຶກສາຈາກພາກວິຊາວິສະວະກຳເອເລັກໂຕນິກ ແລະ ໂທລະຄົມມະນາຄົມ ສົກຮຽນປີ 2023 - 2024 ເຊິ່ງປະກອບມີ:</p>
      
 <li> ນາງ ປິ່ນແກ້ວ ເຂັມຄຳພູມີ</li>
    <li> ນາງ ສຸລິນຸພອນ ບຸນທະວົງ</li>
    <li> ທ້າວ ສູລິຍະ ອ່ອນຟ້າ</li>
    <li> ທ້າວ ປັນຍານຸວົງ ເລັ່ງສະຫວັດ</li>
<br>    
<p>ນຳພາໂດຍອາຈານ:</p>
    <li> ປອ ໂພສີ ປານທອງສີ</li>
    <li> ປທ ນາງ ຕິກ ແສງທິບພະນີ</li>
    <li> ປທ ເທ້ ປາລະມີ</li>
    </div>
   </div> 
<div class="container">
    <div class="content">
   
 <p>This website shows location of an automatic seeding robot that use RTK with GNSS,This a part of a project of making an automatic seedind robot by enginerring student from Department of Eletronic and Telecommunication, Faculty of Engineeering, National University of Laos, Class of 2024 which include:</p>
     
  <li> Pinkeo Khemkhamphoumee</li>
    <li> Soulinouphone Bounthavong</li>
    <li> Souliya Onfar</li>
    <li> Punyanouvong Lengsawut</li>
<br>
    <p>Advisors:</p>
    <li>Dr Phosy Panthongsy</li>
    <li>Tik Seangthipphany</li>
    <li>Thay Palamy</li>
</div>



<div class="content">
<h3>Contact</h3>
<p> email: <a href="mailto:pinkeokkpm@gmail.com">pinkeokkpm@gmail.com </a> </p>
</div>
</div>
<!--
    <form method="POST" action="{{ url_for('contact') }}">
        <label for="name">Name:</label><br>
        <input type="text" id="name" name="name" required><br><br>
        
        <label for="email">Email:</label><br>
        <input type="email" id="email" name="email" required><br><br>
        
        <label for="message">Message:</label><br>
        <textarea id="message" name="message" rows="4" required></textarea><br><br>
        
        <input type="submit" value="Submit">
    </form>
-->
</div>
{% endblock %}
