<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}RTK-GUI{% endblock %}</title>
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css" />
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='assets/css/main.css') }}">
    <script src="https://cdn.socket.io/4.6.0/socket.io.min.js" integrity="sha384-c79GN5VsunZvi+Q/WObgk2in0CbZsHnjEqvFxC5DxHn9lTfNce2WW6h2pH6u/kF+" crossorigin="anonymous"></script>

</head>
<body>
    <div class="navbar">
        <a href="/">Dashboard</a>
        <a href="#">About</a>
    </div>


    {% block content %}
    {% endblock %}
    <div class="footer">
        <img src="static/assets/imgs/image1.png" alt="University Logo">
        <p>Department of Telecommunication Engineering<br>Faculty of Engineering<br>National University of Laos</p>    
    </div>
</body>
</html>