{% extends "base.html" %}
{% block content %}
    <div class="container">
        <div class="header">
            <h1>Seeding Robot v.1 testing q</h1>
        </div>
        <div class="dashboard">
            <div class="robot-status">
                <section class="section status">
                        <h3>Status: On</h3>
                        <p>Up time: {{up_time}}</p>
                        <p>Power: {{power}}</p>
                        <p>Location: {{location}}</p>
                        <p>Moving Distance: {{distance}}</p>
                        <p>Seed amount: {{seed_amount}}</p>
                        <p>Velocity: {{velocity}}</p>
                </section>
                <section class="section status">
                    <p>Moving Distance: {{distance}}</p>
                    <p>Seed amount: {{seed_amount}}</p>
                    <p>Velocity: {{velocity}}</p>
                </section>  
            </div>
            <div class="section camera">
                <h3>Camera</h3>
                <video autoplay></video>
            </div>

            <div class="section map">
                <h3>Leaflet Map</h3>
                <div id="map"></div>
            </div>
            <script>
                var map = L.map('map').setView([0, 0], 2);
        
                L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
                    attribution: '© OpenStreetMap contributors'
                }).addTo(map);
        
                var marker = L.marker([0, 0]).addTo(map);
        
                var socket = io.connect('http://' + document.domain + ':' + location.port + '/ws');
        
                socket.on('update_map', function(data) {
                    var lat = parseFloat(data.latitude);
                    var lon = parseFloat(data.longitude);
                    marker.setLatLng([lat, lon]);
                    map.setView([lat, lon], 15);
                });
            </script>

            <div class="section seeding-point">
                <h3>Seeding Point</h3>
                <iframe 
                    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3153.0929538456625!2d-122.08067548468208!3d37.42199877982511!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x808fb0cae4b0bd69%3A0xe3e1c36e833a4b0!2sGoogleplex!5e0!3m2!1sen!2sus!4v1622559083225!5m2!1sen!2sus" 
                    allowfullscreen="" 
                    loading="lazy"></iframe>
            </div>
        </div>

    </div>
    
<!-- leaflet js  -->
<script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"></script>
<script>
    // Map initialization 
    var map = L.map('map').setView([14.0860746, 100.608406], 6);
    //osm layer
    var osm = L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
        attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
    });
    osm.addTo(map);

    if(!navigator.geolocation) {
        console.log("Your browser doesn't support geolocation feature!")
    } else {
        setInterval(() => {
            navigator.geolocation.getCurrentPosition(getPosition)
        }, 5000);
    }

    var marker, circle;

    function getPosition(position){
        // console.log(position)
        var lat = position.coords.latitude
        var long = position.coords.longitude
        var accuracy = position.coords.accuracy

        if(marker) {
            map.removeLayer(marker)
        }

        if(circle) {
            map.removeLayer(circle)
        }

        marker = L.marker([lat, long])
        circle = L.circle([lat, long], {radius: accuracy})

        var featureGroup = L.featureGroup([marker, circle]).addTo(map)

        map.fitBounds(featureGroup.getBounds())

        console.log("Your coordinate is: Lat: "+ lat +" Long: "+ long+ " Accuracy: "+ accuracy)
    }


    // JavaScript for embedding webcam video
        (function() {
            const video = document.querySelector('video');
            if (navigator.mediaDevices.getUserMedia) {
                navigator.mediaDevices.getUserMedia({ video: true })
                .then(stream => {
                    video.srcObject = stream;
                })
                .catch(error => {
                    console.error("Error accessing the camera: ", error);
                });
            }
        })();
</script>

{% endblock %}